# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
target/
/.idea/.gitignore
/.idea/awsToolkit.xml
/.idea/checkstyle-idea.xml
/.idea/commons-services.iml
/.idea/compiler.xml
/.idea/db-forest-config.xml
/.idea/encodings.xml
/.idea/git_toolbox_prj.xml
/.idea/go.imports.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/htmlReport/com.prx.commons.services/CrudService.html
/htmlReport/com.prx.commons.services/CrudService.java.html
/htmlReport/com.prx.commons.services/CrudServiceTest$1.html
/htmlReport/com.prx.commons.services/CrudServiceTest.html
/htmlReport/com.prx.commons.services/CrudServiceTest.java.html
/htmlReport/com.prx.commons.services/index.html
/htmlReport/com.prx.commons.services/index.source.html
/htmlReport/com.prx.commons.services.cloudflare.controller/ImageApi$1.html
/htmlReport/com.prx.commons.services.cloudflare.controller/ImageApi.html
/htmlReport/com.prx.commons.services.cloudflare.controller/ImageApi.java.html
/htmlReport/com.prx.commons.services.cloudflare.controller/ImageApiTest$1.html
/htmlReport/com.prx.commons.services.cloudflare.controller/ImageApiTest.html
/htmlReport/com.prx.commons.services.cloudflare.controller/ImageApiTest.java.html
/htmlReport/com.prx.commons.services.cloudflare.controller/index.html
/htmlReport/com.prx.commons.services.cloudflare.controller/index.source.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageDeleteException.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageDeleteException.java.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageDownloadException.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageDownloadException.java.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageNotFoundException.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageNotFoundException.java.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageStorageException.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageStorageException.java.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageStorageExceptionTest.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageStorageExceptionTest.java.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageUploadException.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageUploadException.java.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageValidationException.html
/htmlReport/com.prx.commons.services.cloudflare.exception/ImageValidationException.java.html
/htmlReport/com.prx.commons.services.cloudflare.exception/index.html
/htmlReport/com.prx.commons.services.cloudflare.exception/index.source.html
/htmlReport/com.prx.commons.services.cloudflare.properties/CloudflareR2Properties.html
/htmlReport/com.prx.commons.services.cloudflare.properties/CloudflareR2Properties.java.html
/htmlReport/com.prx.commons.services.cloudflare.properties/index.html
/htmlReport/com.prx.commons.services.cloudflare.properties/index.source.html
/htmlReport/com.prx.commons.services.cloudflare.properties/ManagementAuthenticatorProperties.html
/htmlReport/com.prx.commons.services.cloudflare.properties/ManagementAuthenticatorProperties.java.html
/htmlReport/com.prx.commons.services.cloudflare.properties/StoreProperties.html
/htmlReport/com.prx.commons.services.cloudflare.properties/StoreProperties.java.html
/htmlReport/com.prx.commons.services.cloudflare.r2.client/CloudflareR2StorageClient.html
/htmlReport/com.prx.commons.services.cloudflare.r2.client/CloudflareR2StorageClient.java.html
/htmlReport/com.prx.commons.services.cloudflare.r2.client/CloudflareR2StorageClientTest.html
/htmlReport/com.prx.commons.services.cloudflare.r2.client/CloudflareR2StorageClientTest.java.html
/htmlReport/com.prx.commons.services.cloudflare.r2.client/index.html
/htmlReport/com.prx.commons.services.cloudflare.r2.client/index.source.html
/htmlReport/com.prx.commons.services.cloudflare.service/ImageService.html
/htmlReport/com.prx.commons.services.cloudflare.service/ImageService.java.html
/htmlReport/com.prx.commons.services.cloudflare.service/ImageServiceTest$1.html
/htmlReport/com.prx.commons.services.cloudflare.service/ImageServiceTest.html
/htmlReport/com.prx.commons.services.cloudflare.service/ImageServiceTest.java.html
/htmlReport/com.prx.commons.services.cloudflare.service/index.html
/htmlReport/com.prx.commons.services.cloudflare.service/index.source.html
/htmlReport/com.prx.commons.services.cloudflare.to/ImageReferenceResponse.html
/htmlReport/com.prx.commons.services.cloudflare.to/ImageReferenceResponse.java.html
/htmlReport/com.prx.commons.services.cloudflare.to/ImageUploadRequest.html
/htmlReport/com.prx.commons.services.cloudflare.to/ImageUploadRequest.java.html
/htmlReport/com.prx.commons.services.cloudflare.to/ImageUploadRequestTest.html
/htmlReport/com.prx.commons.services.cloudflare.to/ImageUploadRequestTest.java.html
/htmlReport/com.prx.commons.services.cloudflare.to/ImageUploadResponse.html
/htmlReport/com.prx.commons.services.cloudflare.to/ImageUploadResponse.java.html
/htmlReport/com.prx.commons.services.cloudflare.to/index.html
/htmlReport/com.prx.commons.services.cloudflare.to/index.source.html
/htmlReport/com.prx.commons.services.config.mapper/index.html
/htmlReport/com.prx.commons.services.config.mapper/index.source.html
/htmlReport/com.prx.commons.services.config.mapper/JacksonConfig.html
/htmlReport/com.prx.commons.services.config.mapper/JacksonConfig.java.html
/htmlReport/com.prx.commons.services.config.mapper/JacksonConfigTest.html
/htmlReport/com.prx.commons.services.config.mapper/JacksonConfigTest.java.html
/htmlReport/com.prx.commons.services.loggers/index.html
/htmlReport/com.prx.commons.services.loggers/index.source.html
/htmlReport/com.prx.commons.services.loggers/LoggingServiceImp.html
/htmlReport/com.prx.commons.services.loggers/LoggingServiceImp.java.html
/htmlReport/com.prx.commons.services.loggers/LoggingServiceImpTest.html
/htmlReport/com.prx.commons.services.loggers/LoggingServiceImpTest.java.html
/htmlReport/com.prx.commons.services.loggers/LoggingServiceImpUnitTest.html
/htmlReport/com.prx.commons.services.loggers/LoggingServiceImpUnitTest.java.html
/htmlReport/com.prx.commons.services.loggers/LoggingServiceTest.html
/htmlReport/com.prx.commons.services.loggers/LoggingServiceTest.java.html
/htmlReport/com.prx.commons.services.loggers.config/index.html
/htmlReport/com.prx.commons.services.loggers.config/index.source.html
/htmlReport/com.prx.commons.services.loggers.config/LoggerWebConfigurer.html
/htmlReport/com.prx.commons.services.loggers.config/LoggerWebConfigurer.java.html
/htmlReport/com.prx.commons.services.loggers.interceptor/index.html
/htmlReport/com.prx.commons.services.loggers.interceptor/index.source.html
/htmlReport/com.prx.commons.services.loggers.interceptor/LogInterceptor.html
/htmlReport/com.prx.commons.services.loggers.interceptor/LogInterceptor.java.html
/htmlReport/com.prx.commons.services.loggers.interceptor/LogInterceptorTest.html
/htmlReport/com.prx.commons.services.loggers.interceptor/LogInterceptorTest.java.html
/htmlReport/com.prx.commons.services.loggers.interceptor/RequestBodyInterceptor.html
/htmlReport/com.prx.commons.services.loggers.interceptor/RequestBodyInterceptor.java.html
/htmlReport/com.prx.commons.services.loggers.interceptor/RequestBodyInterceptorTest.html
/htmlReport/com.prx.commons.services.loggers.interceptor/RequestBodyInterceptorTest.java.html
/htmlReport/com.prx.commons.services.loggers.interceptor/ResponseBodyInterceptor.html
/htmlReport/com.prx.commons.services.loggers.interceptor/ResponseBodyInterceptor.java.html
/htmlReport/com.prx.commons.services.loggers.interceptor/ResponseBodyInterceptorTest.html
/htmlReport/com.prx.commons.services.loggers.interceptor/ResponseBodyInterceptorTest.java.html
/htmlReport/com.prx.commons.services.properties/DiscoveryClientProperties.html
/htmlReport/com.prx.commons.services.properties/DiscoveryClientProperties.java.html
/htmlReport/com.prx.commons.services.properties/DiscoveryClientPropertiesTest.html
/htmlReport/com.prx.commons.services.properties/DiscoveryClientPropertiesTest.java.html
/htmlReport/com.prx.commons.services.properties/index.html
/htmlReport/com.prx.commons.services.properties/index.source.html
/htmlReport/com.prx.commons.services.properties/SecurityProperties.html
/htmlReport/com.prx.commons.services.properties/SecurityProperties.java.html
/htmlReport/com.prx.commons.services.rest/ClientRestTemplate.html
/htmlReport/com.prx.commons.services.rest/ClientRestTemplate.java.html
/htmlReport/com.prx.commons.services.rest/ClientRestTemplateTest.html
/htmlReport/com.prx.commons.services.rest/ClientRestTemplateTest.java.html
/htmlReport/com.prx.commons.services.rest/index.html
/htmlReport/com.prx.commons.services.rest/index.source.html
/htmlReport/com.prx.commons.services.util/index.html
/htmlReport/com.prx.commons.services.util/index.source.html
/htmlReport/com.prx.commons.services.util/PrinterUtil.html
/htmlReport/com.prx.commons.services.util/PrinterUtil.java.html
/htmlReport/com.prx.commons.services.util/PrinterUtilTest.html
/htmlReport/com.prx.commons.services.util/PrinterUtilTest.java.html
/htmlReport/css/coverage.css
/htmlReport/css/idea.min.css
/htmlReport/img/arrowDown.gif
/htmlReport/img/arrowUp.gif
/htmlReport/jacoco-resources/branchfc.gif
/htmlReport/jacoco-resources/branchnc.gif
/htmlReport/jacoco-resources/branchpc.gif
/htmlReport/jacoco-resources/bundle.gif
/htmlReport/jacoco-resources/class.gif
/htmlReport/jacoco-resources/down.gif
/htmlReport/jacoco-resources/greenbar.gif
/htmlReport/jacoco-resources/group.gif
/htmlReport/jacoco-resources/method.gif
/htmlReport/jacoco-resources/package.gif
/htmlReport/jacoco-resources/prettify.css
/htmlReport/jacoco-resources/prettify.js
/htmlReport/jacoco-resources/redbar.gif
/htmlReport/jacoco-resources/report.css
/htmlReport/jacoco-resources/report.gif
/htmlReport/jacoco-resources/session.gif
/htmlReport/jacoco-resources/sort.gif
/htmlReport/jacoco-resources/sort.js
/htmlReport/jacoco-resources/source.gif
/htmlReport/jacoco-resources/up.gif
/htmlReport/js/highlight.min.js
/htmlReport/js/highlightjs-line-numbers.min.js
/htmlReport/ns-1/sources/source-1.html
/htmlReport/ns-1/index.html
/htmlReport/ns-1/index_SORT_BY_BLOCK.html
/htmlReport/ns-1/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-1/index_SORT_BY_CLASS.html
/htmlReport/ns-1/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-1/index_SORT_BY_LINE.html
/htmlReport/ns-1/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-1/index_SORT_BY_METHOD.html
/htmlReport/ns-1/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-1/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-2/sources/source-1.html
/htmlReport/ns-2/index.html
/htmlReport/ns-2/index_SORT_BY_BLOCK.html
/htmlReport/ns-2/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-2/index_SORT_BY_CLASS.html
/htmlReport/ns-2/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-2/index_SORT_BY_LINE.html
/htmlReport/ns-2/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-2/index_SORT_BY_METHOD.html
/htmlReport/ns-2/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-2/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-3/sources/source-1.html
/htmlReport/ns-3/sources/source-2.html
/htmlReport/ns-3/sources/source-3.html
/htmlReport/ns-3/sources/source-4.html
/htmlReport/ns-3/sources/source-5.html
/htmlReport/ns-3/sources/source-6.html
/htmlReport/ns-3/index.html
/htmlReport/ns-3/index_SORT_BY_BLOCK.html
/htmlReport/ns-3/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-3/index_SORT_BY_CLASS.html
/htmlReport/ns-3/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-3/index_SORT_BY_LINE.html
/htmlReport/ns-3/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-3/index_SORT_BY_METHOD.html
/htmlReport/ns-3/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-3/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-4/sources/source-1.html
/htmlReport/ns-4/sources/source-2.html
/htmlReport/ns-4/sources/source-3.html
/htmlReport/ns-4/index.html
/htmlReport/ns-4/index_SORT_BY_BLOCK.html
/htmlReport/ns-4/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-4/index_SORT_BY_CLASS.html
/htmlReport/ns-4/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-4/index_SORT_BY_LINE.html
/htmlReport/ns-4/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-4/index_SORT_BY_METHOD.html
/htmlReport/ns-4/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-4/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-5/sources/source-1.html
/htmlReport/ns-5/index.html
/htmlReport/ns-5/index_SORT_BY_BLOCK.html
/htmlReport/ns-5/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-5/index_SORT_BY_CLASS.html
/htmlReport/ns-5/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-5/index_SORT_BY_LINE.html
/htmlReport/ns-5/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-5/index_SORT_BY_METHOD.html
/htmlReport/ns-5/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-5/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-6/sources/source-1.html
/htmlReport/ns-6/index.html
/htmlReport/ns-6/index_SORT_BY_BLOCK.html
/htmlReport/ns-6/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-6/index_SORT_BY_CLASS.html
/htmlReport/ns-6/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-6/index_SORT_BY_LINE.html
/htmlReport/ns-6/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-6/index_SORT_BY_METHOD.html
/htmlReport/ns-6/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-6/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-7/sources/source-1.html
/htmlReport/ns-7/sources/source-2.html
/htmlReport/ns-7/sources/source-3.html
/htmlReport/ns-7/index.html
/htmlReport/ns-7/index_SORT_BY_BLOCK.html
/htmlReport/ns-7/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-7/index_SORT_BY_CLASS.html
/htmlReport/ns-7/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-7/index_SORT_BY_LINE.html
/htmlReport/ns-7/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-7/index_SORT_BY_METHOD.html
/htmlReport/ns-7/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-7/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-8/sources/source-1.html
/htmlReport/ns-8/sources/source-2.html
/htmlReport/ns-8/index.html
/htmlReport/ns-8/index_SORT_BY_BLOCK.html
/htmlReport/ns-8/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-8/index_SORT_BY_CLASS.html
/htmlReport/ns-8/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-8/index_SORT_BY_LINE.html
/htmlReport/ns-8/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-8/index_SORT_BY_METHOD.html
/htmlReport/ns-8/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-8/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-9/sources/source-1.html
/htmlReport/ns-9/sources/source-2.html
/htmlReport/ns-9/index.html
/htmlReport/ns-9/index_SORT_BY_BLOCK.html
/htmlReport/ns-9/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-9/index_SORT_BY_CLASS.html
/htmlReport/ns-9/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-9/index_SORT_BY_LINE.html
/htmlReport/ns-9/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-9/index_SORT_BY_METHOD.html
/htmlReport/ns-9/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-9/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-a/sources/source-1.html
/htmlReport/ns-a/index.html
/htmlReport/ns-a/index_SORT_BY_BLOCK.html
/htmlReport/ns-a/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-a/index_SORT_BY_CLASS.html
/htmlReport/ns-a/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-a/index_SORT_BY_LINE.html
/htmlReport/ns-a/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-a/index_SORT_BY_METHOD.html
/htmlReport/ns-a/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-a/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-b/sources/source-1.html
/htmlReport/ns-b/sources/source-2.html
/htmlReport/ns-b/sources/source-3.html
/htmlReport/ns-b/index.html
/htmlReport/ns-b/index_SORT_BY_BLOCK.html
/htmlReport/ns-b/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-b/index_SORT_BY_CLASS.html
/htmlReport/ns-b/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-b/index_SORT_BY_LINE.html
/htmlReport/ns-b/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-b/index_SORT_BY_METHOD.html
/htmlReport/ns-b/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-b/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-c/sources/source-1.html
/htmlReport/ns-c/sources/source-2.html
/htmlReport/ns-c/index.html
/htmlReport/ns-c/index_SORT_BY_BLOCK.html
/htmlReport/ns-c/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-c/index_SORT_BY_CLASS.html
/htmlReport/ns-c/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-c/index_SORT_BY_LINE.html
/htmlReport/ns-c/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-c/index_SORT_BY_METHOD.html
/htmlReport/ns-c/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-c/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-d/sources/source-1.html
/htmlReport/ns-d/index.html
/htmlReport/ns-d/index_SORT_BY_BLOCK.html
/htmlReport/ns-d/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-d/index_SORT_BY_CLASS.html
/htmlReport/ns-d/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-d/index_SORT_BY_LINE.html
/htmlReport/ns-d/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-d/index_SORT_BY_METHOD.html
/htmlReport/ns-d/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-d/index_SORT_BY_NAME_DESC.html
/htmlReport/ns-e/sources/source-1.html
/htmlReport/ns-e/index.html
/htmlReport/ns-e/index_SORT_BY_BLOCK.html
/htmlReport/ns-e/index_SORT_BY_BLOCK_DESC.html
/htmlReport/ns-e/index_SORT_BY_CLASS.html
/htmlReport/ns-e/index_SORT_BY_CLASS_DESC.html
/htmlReport/ns-e/index_SORT_BY_LINE.html
/htmlReport/ns-e/index_SORT_BY_LINE_DESC.html
/htmlReport/ns-e/index_SORT_BY_METHOD.html
/htmlReport/ns-e/index_SORT_BY_METHOD_DESC.html
/htmlReport/ns-e/index_SORT_BY_NAME_DESC.html
/htmlReport/index.html
/htmlReport/index_SORT_BY_BLOCK.html
/htmlReport/index_SORT_BY_BLOCK_DESC.html
/htmlReport/index_SORT_BY_CLASS.html
/htmlReport/index_SORT_BY_CLASS_DESC.html
/htmlReport/index_SORT_BY_LINE.html
/htmlReport/index_SORT_BY_LINE_DESC.html
/htmlReport/index_SORT_BY_METHOD.html
/htmlReport/index_SORT_BY_METHOD_DESC.html
/htmlReport/index_SORT_BY_NAME_DESC.html
/htmlReport/jacoco-sessions.html
/commons-services.iml
